<div class="contact">
    <h2>Contato</h2>
    <h3>Atendimento Rápido e Fácil</h3>
    <h4>Tire suas dúvidas sobre qualquer procedimento que realizamos 
    direto com as orientações de um dos nossos profissionais.</h4>
    <p>Para sua melhor comodidade, nos informe o melhor horário para 
    entrarmos em contato com você.</p>

    <div class="contact-show">
        <div class="contact-inputs">
            <input placeholder="Nome" type="text">
            <input placeholder="E-mail" type="email">
            <input placeholder="Telefone" type="tel">
            <input placeholder="Assunto" type="text">
            <textarea placeholder="Mensagem" type="textarea"></textarea>
            <a href="#contact" class="btn">
                <span>Enviar</span>
            </a>
        </div>

        <div class="contact-means">
            <div class="contact-means-item">
                <i class="fa-solid fa-circle-check fa-2xl" style="color: #b40b08;"></i>                       <div>
                    <a href="#contact">Telefone</a>
                    <span>(11) 91234-5678</span>
                </div>
            </div>
            
            <span class="line-top"></span>
            <div class="contact-means-item">
                <i class="fa-solid fa-circle-check fa-2xl" style="color: #b40b08;"></i>                       <div>
                    <a href="#contact">WhatsApp</a>
                    <span>(11) 91234-5678</span>
                </div>
            </div>
            
            <span class="line-top"></span>
            <div class="contact-means-item">
                <i class="fa-solid fa-circle-check fa-2xl" style="color: #b40b08;"></i>                       <div>
                    <a href="#contact">E-mail</a>
                    <span>contato@garagem5-5.com.br</span>
                </div>
            </div>

            <span class="line-top"></span>
            <div class="contact-means-item">
                <i class="fa-solid fa-circle-check fa-2xl" style="color: #b40b08;"></i>                       <div>
                    <a href="#contact">Funcionamento</a>
                    <span>De Seg. a Sex. de 8h às 17h30</span>
                    <span>Sábados de 9h às 14h</span>
                </div>
            </div>
            
            <span class="line-top"></span>
            <div class="contact-means-item">
                <i class="fa-solid fa-circle-check fa-2xl" style="color: #b40b08;"></i>                       <div>
                    <a href="#contact">Endereço</a>
                    <span>N/A, São Paulo/SP</span>
                </div>
            </div>
        </div>
    </div>
</div>