<footer class="footer">
    <div class="footer-top">
        <a href="../../pages/home/#header">
            <span>
                <img class="logo" src="../../assets/img/logo.png" alt="logo">
            </span>
        </a>

        <p>Somos especializados em Conservação, Proteção e Tratamento de superfícies automotivas.</p>

        <ul class="social-list">
            <li>
                <a href="https://www.facebook.com/profile.php?id=100094222465781" target="_blank" class="social-link">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
            </li>

            <li>
                <a href="https://www.instagram.com/garagem5.5/" target="_blank" class="social-link">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com/@garagem5.5" target="_blank" class="social-link">
                    <i class="fa-brands fa-youtube fa-xl"></i>
                </a>
            </li>
        </ul>
    </div>
  
    <div class="footer-bottom">
        <p class="copyright">Copyright &copy; 2023 Garagem 5.5 - Todos os direitos reservados.</p>
    </div>
</footer>