<header class="header">
    <div class="container">
        <a href="../../pages/home/#header" class="logo">
            <img src="../../assets/img/logo.png" alt="autofix home">
        </a>

        <nav id="navbar-desktop" class="navbar-desktop">
            <ul class="navbar-list">
                <li>
                <a href="../../pages/home/#header" class="navbar-link">Home</a>
                </li>
                
                <li>
                <a href="../../pages/services/#service" class="navbar-link">Serviços</a>
                </li>
                
                <li>
                <a href="../../pages/home/#about" class="navbar-link">Sobre</a>
                </li>
                
                <li>
                <a href="../../pages/home/#galery" class="navbar-link">Galeria</a>
                </li>
    
                <li>
                <a href="#contact" class="navbar-link">Contato</a>
                </li>
            </ul>
        </nav>

        <nav id="navbar-mobile" class="navbar-mobile">
            <div class="hamburger-menu">
                <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="../../pages/home/#header" onclick="toggleMenu()">Home</a></li>
                    <li><a href="../../pages/services/#service" onclick="toggleMenu()">Serviços</a></li>
                    <li><a href="../../pages/home/#about" onclick="toggleMenu()">Sobre</a></li>
                    <li><a href="../../pages/home/#galery" onclick="toggleMenu()">Galeria</a></li>
                    <li><a href="#contact" onclick="toggleMenu()">Contato</a></li>
                </div>
            </div>
        </nav>
    </div>
</header>