<header class="header">
    <div class="container">
        <a href="../../pages/home/#header" class="logo">
            <img src="../../assets/img/logo.png" alt="autofix home">
        </a>

        <nav id="navbar-desktop" class="navbar-desktop">
            <ul class="navbar-list">
                <li>
                    <a href="../../pages/home/#header" class="navbar-link">Home</a>
                </li>
                
                <li>
                    <a href="../../pages/services/#service" class="navbar-link service-menu">Serviços</a>
                    
                    <ul class="service-list">
                        <li>
                            <a href="../../pages/services/#polimento-tecnico" class="service-list-item">
                                <p>Polimento Técnico</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#vitrificacao" class="service-list-item">
                                <p>Vitrificação</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#lavagem-tecnica" class="service-list-item">                 
                                <p>Lavagem técnica</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#higienizacao-interna" class="service-list-item">
                                <p>Higienização interna</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#restauracao-de-farois" class="service-list-item">                 
                                <p>Restauração de Faróis</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#limpeza-tecnica-de-motor" class="service-list-item">                
                                <p>Limpeza técnica de Motor</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#impermeabilizacao-do-banco" class="service-list-item">                 
                                <p>Impermeabilização do Banco</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#hidratacao-dos-bancos-de-couro" class="service-list-item">                
                                <p>Hidratação dos Bancos de Couro</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#higienizacao-do-ar-condicionado" class="service-list-item">                  
                                <p>Higienização com Ozônio</p>
                            </a>
                        </li>

                        <li>
                            <a href="../../pages/services/#delivery" class="service-list-item">                
                                <p>Delivery</p>
                            </a>
                        </li>

                    </ul>
                </li>
                
                <li>
                    <a href="../../pages/home/#about" class="navbar-link">Sobre</a>
                </li>
                
                <li>
                    <a href="../../pages/home/#galery" class="navbar-link">Galeria</a>
                </li>
    
                <li>
                    <a href="#contact" class="navbar-link">Contato</a>
                </li>
            </ul>
        </nav>

        <nav id="navbar-mobile" class="navbar-mobile">
            <div class="hamburger-menu">
                <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="../../pages/home/#header" onclick="toggleMenu()">Home</a></li>
                    <li><a href="../../pages/services/#service" onclick="toggleMenu()">Serviços</a></li>
                    <li><a href="../../pages/home/#about" onclick="toggleMenu()">Sobre</a></li>
                    <li><a href="../../pages/home/#galery" onclick="toggleMenu()">Galeria</a></li>
                    <li><a href="#contact" onclick="toggleMenu()">Contato</a></li>
                </div>
            </div>
        </nav>
    </div>
</header>